{{> head }}
{{> menubar }}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Texto de relleno, cambiar por el texto final (C){{ getAnio }}
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan.jpg" class="img-thumbnail">
    </div>
</div>

